* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ✅ disable horizontal scroll */
  overflow-y: auto; /* ✅ allow vertical scroll */
}

#root {
  height: 100%;
}

:root {
  --primary-color: #516cf0;
  --blue-shade: #3498db;
}
.element {
  background-color: var(--blue-shade) !important;
}

